<template name="Header">
  <img style="max-height: 250px" class="ui fluid image" src="/images/main-page.jpg">
  <div style="margin:0px; border-radius: 0px" class="ui borderless inverted menu">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}">
        <h1>Manoa Adventure Portal</h1></a>
      {{#if currentUser}}

        <a class="{{ isActiveRoute 'List_Stuff_Page'}} item" href="{{ pathFor 'List_Stuff_Page' }}">Stuff </a>
        <a class="{{ isActiveRoute 'List_Activity_Page'}} item" href="{{ pathFor 'List_Activity_Page' }}">Activities </a>
        <a class="{{ isActiveRoute 'List_Place_Page'}} item" href="{{ pathFor 'List_Place_Page' }}">Places </a>
        <a class="{{ isActiveRoute 'List_Users_Page'}} item" href="{{ pathFor 'List_Users_Page' }}">Users </a>
        <a class="{{ isActiveRoute 'Add_Activity_Page'}} item" href="{{ pathFor 'Add_Activity_Page' }}">Add Activity! </a>
      {{/if}}
      <a href="#" class="item">{{> loginButtons align="right"}} </a>

    </div>
  </div>
</template>